WS_PLATFORM_NAME=TDEI Workspaces
WS_PLATFORM_NAME_SHORT=Workspaces
WS_PLATFORM_WEBSITE=https://sidewalks.washington.edu/
WS_PLATFORM_ORG_WEBSITE=https://tcat.cs.washington.edu/
WS_PLATFORM_PRIVACY_POLICY=https://sidewalks.washington.edu/privacy

###############################################################################
# Docker
###############################################################################

WS_DOCKER_REGISTRY=opensidewalksdev.azurecr.io
WS_DOCKER_TAG=local

###############################################################################
# Web
###############################################################################

WS_TDEI_FRONTEND_URL=https://tdei-usermanagement-web-dev.azurewebsites.net/
WS_TDEI_BACKEND_URL=https://tdei-usermanagement-be-dev.azurewebsites.net/api/v1/
WS_TDEI_API_URL=https://tdei-api-dev.azurewebsites.net/api/v1/
WS_TDEI_OIDC_URL=https://tdei-keycloak.azurewebsites.net/
WS_TDEI_OIDC_REALM=tdei

WS_FRONTEND_HOST=workspaces.local
WS_API_HOST=api.workspaces.local
WS_NEW_API_HOST=new-api.workspaces.local
WS_RAPID_HOST=rapid.workspaces.local
WS_PATHWAYS_EDITOR_HOST=pathways.workspaces.local
WS_OSM_HOST=osm.workspaces.local
WS_TASKS_HOST=tasks.workspaces.local

WS_DEV_PORT=3000

WS_FRONTEND_URL=http://${WS_FRONTEND_HOST}:${WS_DEV_PORT}/
WS_API_URL=http://${WS_API_HOST}:${WS_DEV_PORT}/api/v1/
WS_NEW_API_URL=http://${WS_NEW_API_HOST}:${WS_DEV_PORT}/api/v1/
WS_RAPID_URL=http://${WS_RAPID_HOST}:${WS_DEV_PORT}/dist/
WS_PATHWAYS_EDITOR_URL=http://${WS_PATHWAYS_EDITOR_HOST}:${WS_DEV_PORT}/dist/
WS_OSM_URL=http://${WS_OSM_HOST}:${WS_DEV_PORT}/
WS_TASKS_URL=http://${WS_TASKS_HOST}:${WS_DEV_PORT}/

WS_API_CORS_ORIGINS=["http://${WS_FRONTEND_HOST}:${WS_DEV_PORT}"]

WS_OSM_SECRET_KEY_BASE=secret
WS_TASKS_SECRET_KEY=secret
WS_MAPBOX_ACCESS_TOKEN=secret

WS_FRONTEND_SENTRY_DSN=
WS_API_SENTRY_DSN=

###############################################################################
# Schemas
###############################################################################

WS_IMAGERY_SCHEMA_URL=https://raw.githubusercontent.com/TaskarCenterAtUW/asr-imagery-list/refs/heads/main/schema/schema.json
WS_IMAGERY_EXAMPLE_URL=https://raw.githubusercontent.com/TaskarCenterAtUW/asr-imagery-list/refs/heads/main/examples/example.json
WS_LONG_FORM_QUEST_SCHEMA_URL=https://raw.githubusercontent.com/TaskarCenterAtUW/asr-quests/refs/heads/main/schema/schema.json
WS_LONG_FORM_QUEST_EXAMPLE_URL=https://raw.githubusercontent.com/TaskarCenterAtUW/asr-quests/refs/heads/main/examples/example.json

###############################################################################
# Databases
###############################################################################

WS_API_DB_HOST=localhost
WS_API_DB_PORT=5432
WS_API_DB_USER=workspaces
WS_API_DB_PASS=secret
WS_API_DB_NAME=workspaces
WS_API_DB_URI=postgresql+asyncpg://${WS_API_DB_USER}:${WS_API_DB_PASS}@${WS_API_DB_HOST}:${WS_API_DB_PORT}/${WS_API_DB_NAME}

WS_OSM_DB_HOST=localhost
WS_OSM_DB_PORT=5432
WS_OSM_DB_USER=workspaces-osm
WS_OSM_DB_PASS=secret
WS_OSM_DB_NAME=workspaces-osm
WS_OSM_DB_URI=postgresql+asyncpg://${WS_OSM_DB_USER}:${WS_OSM_DB_PASS}@${WS_OSM_DB_HOST}:${WS_OSM_DB_PORT}/${WS_OSM_DB_NAME}

WS_TASKS_DB_HOST=localhost
WS_TASKS_DB_PORT=5432
WS_TASKS_DB_USER=workspaces-tasks
WS_TASKS_DB_PASS=secret
WS_TASKS_DB_NAME=workspaces-tasks
WS_TASKS_DB_URI=postgresql+asyncpg://${WS_TASKS_DB_USER}:${WS_TASKS_DB_PASS}@${WS_TASKS_DB_HOST}:${WS_TASKS_DB_PORT}/${WS_TASKS_DB_NAME}

###############################################################################
# Mail
###############################################################################

WS_MAIL_ACME=you@example.com
WS_MAIL_NAME=${WS_PLATFORM_NAME}
WS_MAIL_FROM=no-reply@example.com
WS_MAIL_CONTACT=contact@example.com
WS_MAIL_RETURN_PATH=return-path@example.com

WS_SMTP_DOMAIN=example.com
WS_SMTP_HOST=smtp.example.com
WS_SMTP_PORT=587
WS_SMTP_USER=you@example.com
WS_SMTP_PASS=secret

###############################################################################
# Scaling
###############################################################################

WS_CGIMAP_INSTANCES=10

###############################################################################
# Limits
###############################################################################

WS_OSM_MAX_CHANGESET_ELEMENTS=10000000 # max features per import or save
WS_OSM_MAX_EXPORT_NODES=100000000 # max number of nodes per requeset
WS_OSM_MAX_EXPORT_AREA=1 # max area per request in square degrees
